# .gitignore - prevents sensitive files from being commited to GitHub

# Python
__pycache__/
*.py[cd]
*$py.class
*.so
.Python
env/
venv/
venv/
ENV/
env.bak/
venv.bak/

# Database
*.db
*.sqlite
*.sqlite3
instance/

# Environment variables
.env
.env.local
.env.production

# Logs
logs/
*.log

#IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Flask
migrations/
*.pyc